<a href="https://colab.research.google.com/github/Prashant109406/DATA690-WANG/blob/master/Assignment_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#impoerting libraries
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# set global parameter to increase the plot size. Default size is too small
plt.rcParams["figure.figsize"] = (12,12)

In [0]:
DATA_URL = "https://ed-public-download.app.cloud.gov/downloads/Most-Recent-Cohorts-All-Data-Elements.csv"

In [0]:
df = pd.read_csv(DATA_URL, usecols=['CONTROL','MD_EARN_WNE_P10'])
#df = pd.read_csv(DATA_URL)

In [127]:
df

      CONTROL MD_EARN_WNE_P10
0           1           31000
1           1           41200
2           2           39600
3           1           46700
4           1           27700
...       ...             ...
6801        1             NaN
6802        1             NaN
6803        3             NaN
6804        3             NaN
6805        1             NaN

[6806 rows x 2 columns]

In [0]:
#selecting only public institution
df1=df.loc[df['CONTROL'] == 1]

In [129]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2102 entries, 0 to 6805
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CONTROL          2102 non-null   int64
 1   MD_EARN_WNE_P10  1955 non-null   object
dtypes: int64(1), object(1)
memory usage: 49.3+ KB

In [130]:
#dropping nan values
df1.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [131]:
df2=df1.drop( df1[ df1['MD_EARN_WNE_P10']== "PrivacySuppressed"].index ,axis=0, inplace=False)
df2

      CONTROL MD_EARN_WNE_P10
0           1           31000
1           1           41200
3           1           46700
4           1           27700
5           1           44500
...       ...             ...
6592        1           31700
6607        1           50600
6608        1           50600
6609        1           50600
6615        1           32000

[1853 rows x 2 columns]

In [0]:
df2["MD_EARN_WNE_P10"] = df2["MD_EARN_WNE_P10"].astype(int)

In [133]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1853 entries, 0 to 6615
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CONTROL          1853 non-null   int64
 1   MD_EARN_WNE_P10  1853 non-null   int64
dtypes: int64(2)
memory usage: 43.4 KB

In [134]:
#performing statistics and confidance interval for sample size 50
SAMPLE_SIZE = 50  

df_sample = df2.sample(SAMPLE_SIZE)
sample_mean = df_sample["MD_EARN_WNE_P10"].mean()
sample_mean

35202.0

In [135]:
sample_std = df_sample["MD_EARN_WNE_P10"].std()
round(sample_std, 2)

12038.6

In [136]:
std_err = sample_std / math.sqrt(SAMPLE_SIZE)       # standard error
std_err

1702.5155218208192

In [137]:
import numpy as np
import scipy.stats
confidence=0.95

a = 1.0 * np.array(df_sample["MD_EARN_WNE_P10"])
n = len(a)
m, se = np.mean(a), scipy.stats.sem(a)
h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
print("Lower confidence limit at 95% confidence level = ",m-h)
print("Upper confidence limit at 95% confidence level = ",m+h)

Lower confidence limit at 95% confidence level =  31780.66697101541
Upper confidence limit at 95% confidence level =  38623.33302898459

In [138]:
confidence=0.68
a = 1.0 * np.array(df_sample["MD_EARN_WNE_P10"])
n = len(a)
m, se = np.mean(a), scipy.stats.sem(a)
h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
print("Lower confidence limit at 68% confidence level = ",m-h)
print("Upper confidence limit at 68% confidence level = ",m+h)

Lower confidence limit at 68% confidence level =  33491.56412001615
Upper confidence limit at 68% confidence level =  36912.43587998385

In [139]:
confidence=0.997
a = 1.0 * np.array(df_sample["MD_EARN_WNE_P10"])
n = len(a)
m, se = np.mean(a), scipy.stats.sem(a)
h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
print("Lower confidence limit at 99.7% confidence level = ",m-h)
print("Upper confidence limit at 99.7% confidence level = ",m+h)

Lower confidence limit at 99.7% confidence level =  29884.47988877121
Upper confidence limit at 99.7% confidence level =  40519.52011122879

In [140]:
mean=df2["MD_EARN_WNE_P10"].mean()
print("Population mean", mean)

Population mean 36083.21640582839

In [141]:
mean_diff=sample_mean-mean
print("Difference in Mean and Sample mean",mean_diff)

Difference in Mean and Sample mean -881.2164058283888

In [142]:
#performing statistics and confidance interval for sample size 100
SAMPLE_SIZE = 100   

df_sample1 = df2.sample(SAMPLE_SIZE)
sample_mean1 = df_sample1["MD_EARN_WNE_P10"].mean()
sample_mean1

37291.0

In [143]:
sample_std1 = df_sample1["MD_EARN_WNE_P10"].std()
round(sample_std1, 2)

13258.28

In [144]:
std_err1 = sample_std1 / math.sqrt(SAMPLE_SIZE)       # standard error
std_err1

1325.8281917124082

In [145]:
import numpy as np
import scipy.stats
confidence=0.95

a = 1.0 * np.array(df_sample1["MD_EARN_WNE_P10"])
n = len(a)
m, se = np.mean(a), scipy.stats.sem(a)
h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
print("Lower confidence limit at 95% confidence level = ",m-h)
print("Upper confidence limit at 95% confidence level = ",m+h)

Lower confidence limit at 95% confidence level =  34660.26922721614
Upper confidence limit at 95% confidence level =  39921.73077278386

In [146]:
confidence=0.68
a = 1.0 * np.array(df_sample1["MD_EARN_WNE_P10"])
n = len(a)
m, se = np.mean(a), scipy.stats.sem(a)
h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
print("Lower confidence limit at 68% confidence level = ",m-h)
print("Higher confidence limit at 68% confidence level = ",m+h)

Lower confidence limit at 68% confidence level =  35965.86420245829
Higher confidence limit at 68% confidence level =  38616.13579754171

In [147]:
confidence=0.997
a = 1.0 * np.array(df_sample1["MD_EARN_WNE_P10"])
n = len(a)
m, se = np.mean(a), scipy.stats.sem(a)
h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
print("Lower confidence limit at 99.7% confidence level = ",m-h)
print("Upper confidence limit at 99.7% confidence level = ",m+h)

Lower confidence limit at 99.7% confidence level =  33256.57808717758
Upper confidence limit at 99.7% confidence level =  41325.42191282242

In [148]:
mean1=df2["MD_EARN_WNE_P10"].mean()
print("Population mean", mean1)

Population mean 36083.21640582839

In [149]:
mean_diff1=sample_mean1-mean1
print("Difference in Mean and Sample mean",mean_diff1)

Difference in Mean and Sample mean 1207.7835941716112

As we increased the sample size we can see that the difference betweeen the upper confidence interval and lower confidence interval has been narrowed down.